openapi: 3.0.3
info:
  title: Display Management API
  version: 1.0.0
  description: API для управления домами, дисплеями, группами и экстренными сообщениями

servers:
  - url: https://api.deeply-bath.space
    description: Production
  - url: http://localhost:8082
    description: Development

tags:
  - name: Houses
    description: Управление домами
  - name: Displays
    description: Управление дисплеями в домах
  - name: Logs
    description: Логи дисплеев
  - name: Emergency
    description: Экстренные сообщения
  - name: Groups
    description: Управление группами дисплеев

paths:

  /houses:
    get:
      tags: [Houses]
      summary: Получить список домов
      operationId: getHouses
      responses:
        '200':
          description: Список домов
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/House'

  /houses/{id}/displays:
    parameters:
      - $ref: '#/components/parameters/HouseId'

    get:
      tags: [Displays]
      summary: Получить список дисплеев дома
      operationId: getDisplays
      responses:
        '200':
          description: Список дисплеев
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Display'
        '404':
          $ref: '#/components/responses/NotFound'

    post:
      tags: [Displays]
      summary: Создать дисплей
      operationId: createDisplay
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DisplayInput'
      responses:
        '201':
          description: Дисплей создан
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Display'
        '404':
          $ref: '#/components/responses/NotFound'

  /houses/{id}/displays/{displayId}:
    parameters:
      - $ref: '#/components/parameters/HouseId'
      - $ref: '#/components/parameters/DisplayId'

    get:
      tags: [Displays]
      summary: Получить дисплей по ID
      operationId: getDisplayById
      responses:
        '200':
          description: Дисплей
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Display'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      tags: [Displays]
      summary: Обновить дисплей
      operationId: updateDisplay
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DisplayInput'
      responses:
        '200':
          description: Дисплей обновлён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Display'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags: [Displays]
      summary: Удалить дисплей
      operationId: deleteDisplay
      responses:
        '204':
          description: Дисплей удалён
        '404':
          $ref: '#/components/responses/NotFound'

  /houses/{id}/displays/{displayId}/logs:
    parameters:
      - $ref: '#/components/parameters/HouseId'
      - $ref: '#/components/parameters/DisplayId'

    get:
      tags: [Logs]
      summary: Получить логи дисплея
      operationId: getDisplayLogs
      responses:
        '200':
          description: Список логов
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Log'
        '404':
          $ref: '#/components/responses/NotFound'

  /emergency:
    post:
      tags: [Emergency]
      summary: Создать экстренное сообщение
      operationId: createEmergency
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmergencyInput'
      responses:
        '201':
          description: Экстренное сообщение создано
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Emergency'

  /groups:
    get:
      tags: [Groups]
      summary: Получить список групп
      operationId: getGroups
      responses:
        '200':
          description: Список групп
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Group'

    post:
      tags: [Groups]
      summary: Создать группу
      operationId: createGroup
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupInput'
      responses:
        '201':
          description: Группа создана
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'

  /groups/{groupId}:
    parameters:
      - $ref: '#/components/parameters/GroupId'

    get:
      tags: [Groups]
      summary: Получить группу по ID
      operationId: getGroupById
      responses:
        '200':
          description: Группа
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      tags: [Groups]
      summary: Обновить группу
      operationId: updateGroup
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupInput'
      responses:
        '200':
          description: Группа обновлена
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags: [Groups]
      summary: Удалить группу
      operationId: deleteGroup
      responses:
        '204':
          description: Группа удалена
        '404':
          $ref: '#/components/responses/NotFound'

components:

  parameters:
    HouseId:
      name: id
      in: path
      required: true
      description: ID дома
      schema:
        type: integer
        format: int64

    DisplayId:
      name: displayId
      in: path
      required: true
      description: ID дисплея
      schema:
        type: integer
        format: int64

    GroupId:
      name: groupId
      in: path
      required: true
      description: ID группы
      schema:
        type: integer
        format: int64

  responses:
    NotFound:
      description: Ресурс не найден
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

  schemas:

    House:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 1
        name:
          type: string
          example: "Дом на Ленина"
        floors_number:
          type: integer
          example: 9
        entrances_number:
          type: integer
          example: 4
      required: [id, name, floors_number, entrances_number]

    Display:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 10
        name:
          type: string
          example: "Дисплей подъезд 1"
        house_id:
          type: integer
          format: int64
          example: 1
        floor:
          type: integer
          nullable: true
          example: 3
        entrance:
          type: integer
          nullable: true
          example: 1
      required: [id, name, house_id]

    DisplayInput:
      type: object
      properties:
        name:
          type: string
          example: "Дисплей подъезд 1"
        house_id:
          type: integer
          format: int64
          example: 1
        floor:
          type: integer
          nullable: true
          example: 3
        entrance:
          type: integer
          nullable: true
          example: 1
      required: [name, house_id]

    Log:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 100
        actor:
          type: integer
          format: int64
          description: ID актора (пользователя), выполнившего действие
          example: 42
        display_id:
          type: integer
          format: int64
          example: 10
        text:
          type: string
          example: "Дисплей обновлён"
      required: [id, actor, display_id, text]

    TargetType:
      type: string
      enum: [DISPLAY, GROUP]
      description: Тип цели экстренного сообщения

    Emergency:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 5
        until_at:
          type: string
          format: date-time
          example: "2025-12-31T23:59:59Z"
        text:
          type: string
          example: "Внимание! Плановое отключение воды"
        target:
          type: integer
          format: int64
          description: ID цели (дисплея или группы)
          example: 10
        target_type:
          $ref: '#/components/schemas/TargetType'
      required: [id, until_at, text, target, target_type]

    EmergencyInput:
      type: object
      properties:
        until_at:
          type: string
          format: date-time
          example: "2025-12-31T23:59:59Z"
        text:
          type: string
          example: "Внимание! Плановое отключение воды"
        target:
          type: integer
          format: int64
          description: ID цели (дисплея или группы)
          example: 10
        target_type:
          $ref: '#/components/schemas/TargetType'
      required: [until_at, text, target, target_type]

    Group:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 1
        name:
          type: string
          example: "Группа А"
        displays:
          type: array
          items:
            $ref: '#/components/schemas/Display'
          description: Дисплеи, входящие в группу
      required: [id, name, displays]

    GroupInput:
      type: object
      properties:
        name:
          type: string
          example: "Группа А"
        display_ids:
          type: array
          items:
            type: integer
            format: int64
          description: ID дисплеев для включения в группу
          example: [10, 11, 12]
      required: [name]

    Error:
      type: object
      properties:
        message:
          type: string
          example: "Ресурс не найден"