openapi: 3.0.3
info:
  title: Display Management API
  version: 2.0.0
  description: |
    API для управления домами, дисплеями, группами, шаблонами и экстренными сообщениями.

    ## Аутентификация
    Все эндпоинты (кроме `/auth/*`) требуют JWT Bearer токен в заголовке:
    ```
    Authorization: Bearer <accessToken>
    ```

servers:
  - url: https://api.deeply-bath.space
    description: Production
  - url: http://localhost:8082
    description: Development

security:
  - BearerAuth: []

tags:
  - name: Auth
    description: Аутентификация и управление токенами
  - name: Users
    description: Пользователи
  - name: Complexes
    description: Жилые комплексы
  - name: Houses
    description: Дома
  - name: Displays
    description: Дисплеи в домах
  - name: DisplayScreen
    description: API для дисплеев
  - name: Logs
    description: Логи дисплеев
  - name: Emergency
    description: Экстренные сообщения
  - name: Groups
    description: Группы дисплеев
  - name: Widgets
    description: Виджеты
  - name: Templates
    description: Шаблоны дисплеев

paths:
  /auth/login:
    post:
      tags: [Auth]
      summary: Войти в систему
      operationId: login
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Успешная аутентификация
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/register:
    post:
      tags: [Auth]
      summary: Зарегистрировать нового пользователя
      operationId: register
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '200':
          description: Пользователь зарегистрирован
        '409':
          description: Пользователь с таким логином уже существует
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/refresh:
    post:
      tags: [Auth]
      summary: Обновить токены по refresh token
      operationId: refreshToken
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshRequest'
      responses:
        '200':
          description: Токены обновлены
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /users/me:
    get:
      tags: [Users]
      summary: Получить информацию о текущем пользователе
      operationId: getMe
      responses:
        '200':
          description: Данные текущего пользователя
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /users/{userId}/role:
    post:
      tags: [Users]
      summary: Установить роль пользователю
      operationId: setUserRole
      parameters:
        - $ref: '#/components/parameters/UserId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetRoleRequest'
      responses:
        '200':
          description: Роль успешно обновлена
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /device-screen/{token}:
    parameters:
      - name: token
        in: path
        required: true
        description: Токен устройства (8 символов)
        schema:
          type: string
          minLength: 8
          maxLength: 8
          example: "8S1mv0lv"

    get:
      tags: [ DisplayScreen ]
      summary: Получить данные экрана устройства по токену
      operationId: getDeviceScreen
      security: [ ]
      responses:
        '200':
          description: Данные экрана устройства
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceScreen'
        '404':
          $ref: '#/components/responses/NotFound'

  /complexes:
    get:
      tags: [Complexes]
      summary: Получить список жилых комплексов
      operationId: getComplexes
      responses:
        '200':
          description: Список комплексов
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Complex'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /complexes/{complexId}/houses:
    parameters:
      - $ref: '#/components/parameters/ComplexId'
    get:
      tags: [Houses]
      summary: Получить список домов
      operationId: getHouses
      responses:
        '200':
          description: Список домов
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/House'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /complexes/{complexId}/houses/{id}/displays:
    parameters:
      - $ref: '#/components/parameters/ComplexId'
      - $ref: '#/components/parameters/HouseId'

    get:
      tags: [Displays]
      summary: Получить список дисплеев дома
      operationId: getDisplays
      responses:
        '200':
          description: Список дисплеев
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Display'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    post:
      tags: [Displays]
      summary: Создать дисплей
      operationId: createDisplay
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DisplayInput'
      responses:
        '201':
          description: Дисплей создан
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Display'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /complexes/{complexId}/houses/{id}/displays/{displayId}:
    parameters:
      - $ref: '#/components/parameters/ComplexId'
      - $ref: '#/components/parameters/HouseId'
      - $ref: '#/components/parameters/DisplayId'

    get:
      tags: [Displays]
      summary: Получить дисплей по ID
      operationId: getDisplayById
      responses:
        '200':
          description: Дисплей
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Display'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      tags: [Displays]
      summary: Обновить дисплей
      operationId: updateDisplay
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DisplayInput'
      responses:
        '200':
          description: Дисплей обновлён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Display'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags: [Displays]
      summary: Удалить дисплей
      operationId: deleteDisplay
      responses:
        '204':
          description: Дисплей удалён
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /complexes/{complexId}/houses/{id}/displays/{displayId}/logs:
    parameters:
      - $ref: '#/components/parameters/ComplexId'
      - $ref: '#/components/parameters/HouseId'
      - $ref: '#/components/parameters/DisplayId'

    get:
      tags: [Logs]
      summary: Получить логи дисплея
      operationId: getDisplayLogs
      responses:
        '200':
          description: Список логов
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Log'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /emergency:
    post:
      tags: [Emergency]
      summary: Создать экстренное сообщение
      operationId: createEmergency
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmergencyInput'
      responses:
        '201':
          description: Экстренное сообщение создано
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Emergency'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /emergency/{emergencyId}:
    parameters:
      - $ref: '#/components/parameters/EmergencyId'
    delete:
      tags: [Emergency]
      summary: Удалить экстренное сообщение
      operationId: deleteEmergency
      responses:
        '204':
          description: Экстренное сообщение удалён
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /widgets:
    get:
      tags: [Widgets]
      summary: Получить список доступных виджетов
      operationId: getWidgets
      responses:
        '200':
          description: Список виджетов
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Widget'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /templates:
    get:
      tags: [Templates]
      summary: Получить список шаблонов
      operationId: getTemplates
      responses:
        '200':
          description: Список шаблонов
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LightTemplate'
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      tags: [Templates]
      summary: Создать шаблон
      operationId: createTemplate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateInput'
      responses:
        '201':
          description: Шаблон создан
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Template'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /templates/{templateId}:
    parameters:
      - $ref: '#/components/parameters/TemplateId'

    get:
      tags: [Templates]
      summary: Получить шаблон по ID
      operationId: getTemplateById
      responses:
        '200':
          description: Шаблон
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Template'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      tags: [Templates]
      summary: Обновить шаблон
      operationId: updateTemplate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateInput'
      responses:
        '200':
          description: Шаблон обновлён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Template'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags: [Templates]
      summary: Удалить шаблон
      operationId: deleteTemplate
      responses:
        '204':
          description: Шаблон удалён
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

components:

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    UserId:
      name: userId
      in: path
      required: true
      description: ID пользователя
      schema:
        type: string
        format: uuid

    ComplexId:
      name: complexId
      in: path
      required: true
      description: ID жилого комплекса
      schema:
        type: integer
        format: int64

    HouseId:
      name: id
      in: path
      required: true
      description: ID дома
      schema:
        type: integer
        format: int64

    DisplayId:
      name: displayId
      in: path
      required: true
      description: ID дисплея
      schema:
        type: integer
        format: int64

    EmergencyId:
      name: emergencyId
      in: path
      required: true
      description: ID экстренного сообщения
      schema:
        type: integer
        format: int64

    GroupId:
      name: groupId
      in: path
      required: true
      description: ID группы
      schema:
        type: integer
        format: int64

    TemplateId:
      name: templateId
      in: path
      required: true
      description: ID шаблона
      schema:
        type: integer
        format: int64

  responses:
    Unauthorized:
      description: Токен отсутствует или недействителен
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    NotFound:
      description: Ресурс не найден
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

  schemas:

    LoginRequest:
      type: object
      required: [login, password]
      properties:
        login:
          type: string
          example: "user@example.com"
        password:
          type: string
          format: password
          example: "s3cr3t"

    RegisterRequest:
      type: object
      required: [name, login, password]
      properties:
        name:
          type: string
          example: "Михаил"
        login:
          type: string
          example: "user@example.com"
        password:
          type: string
          format: password
          example: "s3cr3t"

    RefreshRequest:
      type: object
      required: [refreshToken]
      properties:
        refreshToken:
          type: string
          example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."

    TokenResponse:
      type: object
      required: [accessToken, refreshToken, tokenType, accessTokenExpiresAt, refreshTokenExpiresAt]
      properties:
        accessToken:
          type: string
          example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
        refreshToken:
          type: string
          example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
        tokenType:
          type: string
          default: "Bearer"
          example: "Bearer"
        accessTokenExpiresAt:
          type: string
          format: date-time
          description: Время истечения access токена (ISO 8601 / Unix Instant)
          example: "2025-06-10T12:00:00Z"
        refreshTokenExpiresAt:
          type: string
          format: date-time
          description: Время истечения refresh токена (ISO 8601 / Unix Instant)
          example: "2025-07-10T12:00:00Z"

    Role:
      type: string
      enum: [USER, ADMIN]
      description: |
        Роль пользователя:
        - `USER` — обычный пользователь
        - `ADMIN` — администратор

    User:
      type: object
      required: [id, name, role]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          example: "Михаил"
        role:
          $ref: '#/components/schemas/Role'

    SetRoleRequest:
      type: object
      required: [role]
      properties:
        role:
          $ref: '#/components/schemas/Role'

    Complex:
      type: object
      required: [id, name, houses]
      properties:
        id:
          type: integer
          format: int64
          example: 1
        name:
          type: string
          example: "ЖК Центральный"
        houses:
          type: array
          items:
            $ref: '#/components/schemas/House'

    House:
      type: object
      required: [id, name, address, city, floors_number, entrances_number]
      properties:
        id:
          type: integer
          format: int64
          example: 1
        name:
          type: string
          example: "Корпус 1"
        address:
          type: string
          example: "ул. Ленина, 10"
        floors_number:
          type: integer
          example: 9
        entrances_number:
          type: integer
          example: 4
        city:
          type: string
          example: "Пермь"

    Display:
      type: object
      required: [id, name, house_id, token]
      properties:
        id:
          type: integer
          format: int64
          example: 10
        token:
          type: string
          example: "8S1mv0lv"
        name:
          type: string
          example: "Дисплей подъезд 1"
        template_id:
          type: integer
          format: int64
          example: 3
        house_id:
          type: integer
          format: int64
          example: 1
        floor:
          type: integer
          nullable: true
          example: 3
        entrance:
          type: integer
          nullable: true
          example: 1

    DisplayInput:
      type: object
      required: [name, house_id]
      properties:
        name:
          type: string
          example: "Дисплей подъезд 1"
        template_id:
          type: integer
          format: int64
          example: 3
        house_id:
          type: integer
          format: int64
          example: 1
        floor:
          type: integer
          nullable: true
          example: 3
        entrance:
          type: integer
          nullable: true
          example: 1

    RenderedWidget:
      type: object
      required: [ id, type, body ]
      properties:
        id:
          type: string
          example: "widget-001"
        type:
          $ref: '#/components/schemas/WidgetType'
        body:
          type: object
          description: Произвольная JSON-структура данных виджета
          example:
            temperature: 21
            condition: "cloudy"

    DeviceScreen:
      type: object
      required: [ deviceId, complexId, houseId, complexName, houseName, houseAddress, template, rendered_template ]
      properties:
        deviceId:
          type: integer
          format: int64
          example: 10
        complexId:
          type: integer
          format: int64
          example: 1
        houseId:
          type: integer
          format: int64
          example: 3
        complexName:
          type: string
          example: "ЖК Центральный"
        houseName:
          type: string
          example: "Корпус 1"
        houseAddress:
          type: string
          example: "ул. Ленина, 10"
        template:
          type: object
          description: Произвольная JSON-структура конфигурации шаблона (аналогично Template.body)
          example:
            layout: "vertical"
            widgets:
              - type: "WEATHER"
                position: 1
              - type: "PARKING"
                position: 2
        rendered_template:
          type: object
          required: [ widgets ]
          properties:
            widgets:
              type: array
              items:
                $ref: '#/components/schemas/RenderedWidget'

    Log:
      type: object
      required: [id, actor, display_id, text]
      properties:
        id:
          type: integer
          format: int64
          example: 100
        actor:
          type: integer
          format: int64
          description: ID пользователя, выполнившего действие
          example: 42
        display_id:
          type: integer
          format: int64
          example: 10
        text:
          type: string
          example: "Шаблон дисплея изменён"

    TargetType:
      type: string
      enum: [DISPLAY, HOUSE]
      description: |
        Тип цели экстренного сообщения:
        - `DISPLAY` — отдельный дисплей
        - `HOUSE` — весь дом

    Emergency:
      type: object
      required: [id, text, target, target_type, priority]
      properties:
        id:
          type: integer
          format: int64
          example: 5
        until_at:
          type: string
          format: date-time
          example: "2025-12-31T23:59:59Z"
        text:
          type: string
          example: "Внимание! Плановое отключение воды с 10:00 до 18:00"
        target:
          type: integer
          format: int64
          description: ID цели (дисплея или группы в зависимости от target_type)
          example: 10
        priority:
          type: integer
          format: int64
          example: 1
          description: Приоритет алерта (чем выше по числу - тем приоритетнее)
        target_type:
          $ref: '#/components/schemas/TargetType'

    EmergencyInput:
      type: object
      required: [until_at, text, target, target_type, priority]
      properties:
        until_at:
          type: string
          format: date-time
          example: "2025-12-31T23:59:59Z"
        text:
          type: string
          example: "Внимание! Плановое отключение воды с 10:00 до 18:00"
        target:
          type: integer
          format: int64
          example: 10
        priority:
          type: integer
          format: int64
          example: 1
          description: Приоритет алерта (чем выше по числу - тем приоритетнее)
        target_type:
          $ref: '#/components/schemas/TargetType'

    WidgetType:
      type: string
      enum: [WEATHER, PARKING]
      description: |
        Тип виджета:
        - `WEATHER` — погода
        - `PARKING` — парковка

    FieldType:
      type: string
      enum:
        - STRING
        - INTEGER
      description: |
        Тип поля виджета:
        - `STRING` — строковое значение
        - `INTEGER` — число

    WidgetField:
      type: object
      required: [name, type, optional]
      properties:
        name:
          type: string
          example: "temperature"
        type:
          $ref: '#/components/schemas/FieldType'
        optional:
          type: boolean
          example: false

    Widget:
      type: object
      required: [name, type, fields]
      properties:
        name:
          type: string
          example: "Погода"
        type:
          $ref: '#/components/schemas/WidgetType'
        fields:
          type: array
          items:
            $ref: '#/components/schemas/WidgetField'

    Template:
      type: object
      required: [id, name, body]
      properties:
        id:
          type: integer
          format: int64
          example: 3
        name:
          type: string
          example: "Стандартный шаблон подъезда"
        body:
          type: object
          description: Произвольная JSON-структура конфигурации шаблона
          example:
            layout: "vertical"
            widgets:
              - type: "WEATHER"
                position: 1
              - type: "PARKING"
                position: 2

    LightTemplate:
      type: object
      required: [ id, name]
      properties:
        id:
          type: integer
          format: int64
          example: 3
        name:
          type: string
          example: "Стандартный шаблон подъезда"

    TemplateInput:
      type: object
      required: [name, body]
      properties:
        name:
          type: string
          example: "Стандартный шаблон подъезда"
        body:
          type: object
          description: Произвольная JSON-структура конфигурации шаблона
          example:
            layout: "vertical"
            widgets:
              - type: "WEATHER"
                position: 1

    Error:
      type: object
      properties:
        message:
          type: string
          example: "Ресурс не найден"